* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 display: flex;
 background-color: #f1f1f1;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.content-container{
padding: 20px 30px;
}
.container {
 height: 400px;
 width: 220px;
 background-color: white;
 
}
.top-container {
 text-align: center;
}
.top-container > img {
 margin-bottom: 25px;
}
.top-container > p {
 font-size: 10px;
 margin: 10px 0;

}
.top-container a {
 text-decoration: none;
 color: cornflowerblue;
}
.logo {
 width: 40%;
}
 
 input[type="password"],
 input[type="email"] {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 8px;
  width: 100%;
  padding: 5px 0 5px 5px;
 }

 .check-ctr {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

 }

 .check-ctr > input {
  transform: scale(0.65);
  margin-right: 3px;
 }
 input[type="submit"] {
  width: 100%;
  background-color: cornflowerblue;
  border-radius: 3px;
  border: none;
  padding: 6px 0;
  font-size: 8px;
  color: white;
 }
 .pw-forgot {
  text-align: center;
  width: 100%;
  margin-top: 5px;
 }

 .pw-forgot > a {
  text-decoration: none;
  font-size: 10px;
  color: darkgray;
  
 }
 

 @media only screen and (min-width: 500px) {
  .container {
   box-shadow: 5px 5px 20px -3px #D3D3D3;
   height: 300px;
  }
 }

 @media only screen and (min-width: 750px) {
  .container {
   width: 440px;
   display: flex;
  }
  .content-container {
   width: 50%;
  }
  .image-container {
   width: 50%;
   background:bottom / 100% url(https://images.unsplash.com/photo-1543060829-a0029874b174?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  }
 }