* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 display: flex;
 background-color: #f1f1f1;
 justify-content: center;
 align-items: center;
 height: 100vh;
}
.content-container{
margin: 20px 30px;
}
.container {
 height: 400px;
 width: 220px;
 background-color: white;
 
}
.top-container {
 text-align: center;
}
.top-container > img {
 margin-bottom: 25px;
}
.top-container > p {
 font-size: 10px;
 margin: 10px 0;
}
.logo {
 width: 40%;
}
 
 input[type="password"],
 input[type="email"] {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 8px;
  width: 100%;
  padding: 5PX 0;
 }

 .check-ctr {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

 }

 .check-ctr > input {
  transform: scale(0.65);
  margin-right: 3px;
 }
 input[type="submit"] {
  width: 100%;
  background-color: cornflowerblue;
  border-radius: 3px;
  border: none;
  padding: 5px;
  font-size: 8px;
  color: white;
 }